@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #e2e2e2;
}

.header ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.header ul li{
    transition: 150ms ease-in-out;
    font-weight: bold;
    float:left;
    padding:35px;
    cursor: pointer;
}

.header ul li:hover{
    color: #36d889;
}

.header a:visited{
    color: black;
}

.header a{
    color: black;
}

.content{
    padding: 35px;
    padding-left: 220px;
    padding-right: 220px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.posts{
    display: flex;
    flex-direction: column;
    flex:3;
    padding: 15px;
}

.post-container{
    max-width: 800px;
    padding-bottom: 15px;
}

.post-header{
    display: flex;
    justify-content: row;
    align-items: center;
    justify-content: start;
    font-size: 14px;
}

.post-pp{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: white;
    background-size: cover;
}

.post-header-info{
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.post-header-info .name{
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 5px;
}

.post-header-about{
    display: flex;
    flex-direction: row;
    color:grey;
}

.post-header-about span{
    padding-right: 15px;
}

.post-image{
    margin-top: 20px;
}

.post-image img{
    width: 100%;
    height: auto;
    border-radius: 3px;
}

.post-content-info{
    display: flex;
    flex-direction: column;
}

.post-content-info p{
    margin:0;
}

.post-categorie-text{
    color: #36d889;
    font-weight: bold;
}

.button-container{
    margin-top: 25px;
}

.button-container button:hover{
    cursor: pointer;
}

.continue-read-btn{
    background-color: #fff; /* Green */
    border: 1px solid #e2e2e2;
    border-radius:3px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    color: #36d889;
    letter-spacing: 3px;
}

.post-share-container{
    transition: 200ms ease-in-out;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    margin-top: 25px;
    margin-bottom: 25px;
}

.post-share-container *{
    padding-left: 15px;
}

.post-share-container:hover{
    cursor: pointer;
    color: #36d889;
}

.right-side{
    display: flex;
    flex-direction: column;
    flex:1;
}


.search-container{
    height: 60px;
}

.search-container input{
    width: 100%;
    height: 100%;
    text-indent: 15px;
    border:0;
    border-radius: 3px;
    background-color: #f6f6f5;
    padding-right: 15px;
}

.menu-item-container{
    width: 100%;
    margin-bottom: 45px;
}

.menu-item-head{
    border-bottom: 1px solid #e2e2e2;
}

.menu-item-head::after{
    content: '';
    position: absolute;
    width: 80px;
    height: 5px;
    background-color: #36d889;
}

.categories-item-container{
    transition: 200ms ease-in-out;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
}

.categories-item-container:hover{
    color: #36d889;
    cursor: pointer;
}

.categories-item-head{
    display: flex;
    flex-direction: row;
}

.categories-item-counter{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 2px;
    background-color: #e2e2e2;
    font-size: 12px;
    font-weight: bold;
    color:grey;
    display: flex;
    justify-content: center;
    max-width: 10px;
    min-width: 10px;
}

.social-media-container{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
}

.social-media-btn-container{
    transition: 200ms ease-in-out;
    width: 40px;
    height: 40px;
    border:1px solid #e2e2e2;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.social-media-btn-container:hover{
    background-color:#e2e2e2; 
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 140px;
    background-color: #f9f9f8;
    padding: 0 55px 0 55px;
    color: grey;
    font-size: 14px;
}

.about-me-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    flex-direction: column;
    text-align: center;
}

.about-me-container p{
    margin: 0;
}

.about-me-pp{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background-color: red;
    background-size: cover;
}

@media only screen and (max-width: 1650px) {
    .content{
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media only screen and (max-width: 1260px) {
    .right-side{
        flex: 1;
    }
}
@media only screen and (max-width: 768px) {
    .content{
        flex-direction: column;
    }

    .right-side{
        border-top: 1px solid #e2e2e2;
        padding-top: 15px;
    }
}

@media only screen and (max-width: 500px) {
    .header ul li{
        float: none;
        text-align: center;
    }
}