@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #e2e2e2;
}

.header ul{
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.header ul li{
    transition: 150ms ease-in-out;
    font-weight: bold;
    padding:35px;
    cursor: pointer;
}

.header ul li:hover{
    color: #36d889;
}

.header a:visited{
    color: black;
}

.header a{
    color: black;
    text-decoration: none;
}

.content{
    padding: 35px;
    padding-left: 220px;
    padding-right: 220px;
    display: flex;
    flex-direction: row;
}

.right-side{
    display: flex;
    flex-direction: column;
    flex:1;
}

.search-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
}

.search-container input[type="text"]{
    width: 100%;
    height: 100%;
    text-indent: 15px;
    border:0;
    border-radius: 3px;
    background-color: #f6f6f5;
    margin-right: 5px;
}

.search-btn{
    width: 20%;
    height: 60px;
    background-color: #36d889;
    color: white;
    border: 0;
    cursor: pointer;
}

.menu-item-container{
    width: 100%;
    margin-bottom: 45px;
}

.menu-item-head{
    border-bottom: 1px solid #e2e2e2;
}

.menu-item-head::after{
    content: '';
    position: absolute;
    width: 80px;
    height: 5px;
    background-color: #36d889;
}

.categories-item-container{
    transition: 200ms ease-in-out;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
}

.categories-item-container:hover{
    color: #36d889;
    cursor: pointer;
}

.categories-item-head{
    display: flex;
    flex-direction: row;
}

.categories-item-counter{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 2px;
    background-color: #e2e2e2;
    font-size: 12px;
    font-weight: bold;
    color:grey;
    display: flex;
    justify-content: center;
    max-width: 10px;
    min-width: 10px;
}

.social-media-container{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
}

.social-media-btn-container{
    transition: 200ms ease-in-out;
    width: 40px;
    height: 40px;
    border:1px solid #e2e2e2;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.social-media-btn-container:hover{
    background-color:#e2e2e2; 
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 140px;
    background-color: #f9f9f8;
    padding: 0 55px 0 55px;
    color: grey;
    font-size: 14px;
}

.about-me-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    flex-direction: column;
    text-align: center;
}

.about-me-container p{
    margin: 0;
}

.about-me-pp{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background-color: red;
    background-size: cover;
    border:2px solid #eee;
}

#active-page{
    border-bottom: 2px solid #36d889;
}

.boldFont{
    font-weight: bold;
}

@media only screen and (min-width: 2300px) {
    .content{
        margin:0 auto;
        padding: 35px;
        padding-left: 220px;
        padding-right: 220px;
        display: flex;
        flex-direction: row;
    }
}

@media only screen and (max-width: 1650px) {
    .content{
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media only screen and (max-width: 1260px) {
    .right-side{
        flex: 1;
    }
}
@media only screen and (max-width: 768px) {
    .content{
        flex-direction: column;
        padding: 20px;
    }

    .right-side{
        border-top: 1px solid #e2e2e2;
        padding-top: 15px;
    }

    .footer{
        padding-top: 15px;
        justify-content: space-evenly;
        flex-direction: column;
        padding-bottom: 15px;
    }

    .send-btn-container{
        justify-content: center;
    }

    .send-comment-btn{
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    .header ul li{
        text-align: center;
    }

    .header ul{
        flex-direction: column;
    }
}