@import url('../fonts/Metropolis/stylesheet.css');

body{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100%;
  font-family: 'Metropolis';
}

html{
  height: 100%;
}

aside {
  width: 15%;
  min-width: 250px;
  max-width: 450px;
  height: 100%;
  background-color: #fff;
  padding: 8px 0 0 12px;
  border-right: 1px solid #eee;
  transition: 100ms ease-in-out;
}

.headItem{
  margin-top: 55px;
  display: flex;
  flex-direction: column;
}

.headLabel{
  font-weight: bold;
  font-size: 19px;
  color: #4d59c7;
}

.headItem .itemGroup{
  margin-top: 30px;
  font-weight: 500;
}

.itemGroup a{
  transition: 150ms ease-in-out;
}

.itemGroup:hover a{
  color: #4d59c7;
}

.headItem .itemGroup i{
  padding-left: 15px;
  padding-right: 25px;
  color: rgb(68, 68, 68);
}


aside h2 {
  margin-bottom: 65px;
}

*:link, *:visited{
  text-decoration: none;
  color: black;
}

.content{
  width: 100%;
  height: 100%;
  padding: 25px;
}

.inputLabel{
  font-weight: bold;
}

.contentHead{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.contentHead button{
  width: 200px;
  height: 60px;
  border: 0;
  background-color: #36d889;
  color: white;
  font-weight: bold;
}

.contentHead button:hover{
  cursor: pointer;
}

.barMenu{
  display: none;
  width: 5%;
  padding-top: 28px;
  padding-left: 25px;
  height: 35px;
  z-index: 1;
}

.barMenu i{
  font-size: 25px;
}

.barMenu i:hover{
  cursor: pointer;
}

.showBarMenu{
  display: block !important;
  z-index: 0;
}

.aboutUser{
  font-weight: bold;
}

.logoutButton{
  margin-top: 55px;
  width: 95%;
  height: 40px;
  border:0;
  background-color: #36d889;
  color: white;
  font-weight: bold;
  border-radius: 3px;
}

.logoutButton:hover{
  cursor: pointer;
}

@media only screen and (max-width: 1150px) {
   aside{
     display: none;
  }

  .barMenu{
    display: block;
  }
}