.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 15px;
}

.content h3{
    margin-bottom: 25px;
}

.postContainer{
    width: 100%;
    border: 1px solid black;
    padding: 15px 0 15px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.content .postContainer:not(:first-child){
    margin-top: 35px;
}

.postInfo{
    display: flex;
    flex-direction: column;
}

.postInfo label:first-child{
    font-weight: bold;
    font-size: 18px;
}

.postInfo label:nth-child(2n){
    margin-top: 10px;
}

.iconGroup{
    font-size: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}


.iconGroup i:first-child{
    color: #36d889;
}

.iconGroup i:nth-child(2n){
    color: red;
}

.iconGroup i:nth-child(2n):hover, i:nth-child(2n+1):hover{
    cursor: pointer;
}

/*td{
    padding-left: 12px;
}

table, th, td{
    border: 1px solid #e2e2e2;
    border-collapse: collapse;
}

table th{
    height: 45px;
}

table tr:nth-child(2n){
    background-color: #f5f4f4;
}*/