.post-content{
    display: flex;
    flex-direction: column;
    flex:3;
    padding: 15px;
}


.post-container{
    max-width: 800px;
    padding-bottom: 15px;
}

.post-header{
    display: flex;
    justify-content: row;
    align-items: center;
    justify-content: start;
    font-size: 14px;
}

.post-pp{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: white;
    background-size: cover;
}

.post-header-info{
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.post-header-info .name{
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 5px;
}

.post-header-about{
    display: flex;
    flex-direction: row;
    color:grey;
}

.post-header-about span{
    padding-right: 15px;
}

.post-image{
    margin-top: 20px;
}

.post-image img{
    width: 100%;
    height: auto;
    border-radius: 3px;
}

.post-content-info{
    display: flex;
    flex-direction: column;
}

.post-content-info p{
    margin:0;
}

.post-categorie-text{
    color: #36d889;
    font-weight: bold;
}

.button-container{
    margin-top: 25px;
}

.button-container button:hover{
    cursor: pointer;
}

.post-share-container{
    transition: 200ms ease-in-out;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    margin-top: 25px;
    margin-bottom: 25px;
}

.post-share-container *{
    padding-left: 15px;
}

.post-share-container:hover{
    cursor: pointer;
    color: #36d889;
}

.comment-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 800px;
    padding-top: 15px;
}

.comment-section{
    display: flex;
    justify-content: row;
}

.user-pp{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    background-color:#36d889;
}

.user-pp i{
    color:#fff;
}

.comment-input-container{
    padding-left: 25px;
    width: 100%;
    height: auto;
}

.comment-input-container textarea{
    width: 100%;
    height: 100%;
    border:none;
    outline: none;
    text-indent: 15px;
    border-radius: 3px;
    background-color: #f6f6f5;
    resize: none;
    padding-top:15px;
    padding-bottom: 15px;
}

.send-btn-container{
    padding: 0;
    margin-top: 45px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.send-comment-btn{
    transition: 250ms ease-out;
    width: 150px;
    height: 40px;
    border-radius: 4px;
    outline: none;
    border:none;
    color: white;
    font-weight: bold;
    background-color: #36d889;
}

.send-comment-btn:hover{
    background-color: #48f09d;
    cursor: pointer;
}

.send-comment-btn[disabled=disabled], .send-comment-btn:disabled {
    background-color: #e2e2e2;
    color: #c0c0c0;
    cursor: not-allowed;
}

.user-comment-container{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.user-comment-pp{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    color: white;
    background-color: #36d889;
}

.user-comment-details{
    width: 100%;
    display: flex;
    justify-content: start;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 15px;
}

.user-comment-details h4, p{
    margin: 0;
}

.user-comment-details p{
    padding-top: 15px;
}

.user-info{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-info label{
    font-size: 12px;
    color: grey;
}

.user-comments{
    padding-top: 25px;
}

.user-comments .user-comment-container:not(:first-child){
    margin-top: 55px;
}
